{% extends "base.html" %}
{% block content %}
<div class="page-container">
  <h2 style="text-align:center; color:#0058ff; margin-bottom:20px;">
      Registered Candidates
  </h2>

  <div class="form-box">
    {% for c in candidates %}
      <div style="padding:8px; border-bottom:1px solid #d8e3ff;">
        <strong>{{ c.full_name }}</strong> — {{ c.phone }}
        <a href="{% url 'download_pdf' c.id %}" style="color:#0058ff; margin-left:10px;">📄 Download Form</a>
      </div>
    {% empty %}
      <p>No registered candidates yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
